<h1>Signup!</h1>

<% if @user.errors.any? %>
	<div id="error_explanation">
	  <h2><%= pluralize(@user.errors.count, "error") %></h2>
	  <ul>
	    <% @user.errors.full_messages.each do |msg| %>
	    	<li><%= msg %></li>
	    <% end %>
	  </ul>
	</div>
<% end %>

<%= form_for :user, url: '/users' do |f| %>
	Username: <%= f.text_field :username %><br>
	Email: <%= f.text_field :email %><br>
	Password: <%= f.password_field :password %><br>
	Confirm Password: <%= f.password_field :password_confirmation %><br>
	<%= f.submit "Register" %>
<% end %>