<h1>Create new flashcard deck</h1>


<%= simple_form_for @deck do |f| %>
	<%= f.input :title %>
	<%= f.input :description, hint: "Optional" %>
	<%= f.input :public, as: :radio_buttons %>
	<%= f.button :submit %>
<% end %>

<a href="/">Cancel</a>
